// Buttons

a {
	outline: none;
}

.btn-check:active+.btn-primary:focus,
.btn-check:checked+.btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show>.btn-primary.dropdown-toggle:focus {
	box-shadow: none;
}

.btn {
	outline: none;

	&:focus {
		box-shadow: none;
	}

	&-outline {
		&-primary {
			border-color: $primary-color;
			color: $primary-color;

			&:active,
			&:focus,
			&:hover {
				outline: none;
				box-shadow: none;
				border-color: $secondary-color;
				background-color: $primary-color;
				color: #fff;
			}
		}
	}

	&-primary {
		outline: none;
		box-shadow: none;
		border-color: $primary-color;
		background-color: $primary-color;
		color: #fff;

		&:active,
		&:focus,
		&:hover {
			outline: none;
			box-shadow: none;
			border-color: $primary-color;
			background-color: #fff;
			color: $primary-color;
		}
	}

	&-link {
		color: $primary-color;
		text-decoration: none;

		&:active,
		&:focus {
			color: inherit;
			text-decoration: inherit;
		}

		&:hover {
			color: $secondary-color;
			text-decoration: none;
		}
	}

	&[data-bs-toggle="collapse"] {
		position: relative;
		color: $primary-color;

		&::after {
			content: '\f078';
			font-family: "Font Awesome 5 Free";;
			color: $primary-color;
		}
	}
}

.navbar-toggler {
	font-size: 2em;

	padding-left: 0;
	padding-right: 0;

	color: $primary-color;

	&:focus {
		box-shadow: none;
	}
}

.site-header {
	.dropdown-user {
		.dropdown-toggle::after {
			@media screen and (max-width: 767px) {
				display: none;
			}
		}
	}
}