// Table
.table {
    margin: 0;
    padding: 0px;
    background-color: #fff;
    vertical-align: middle;
    border-spacing: 0px;
    border-collapse: separate;

    &>:not(caption)>*>* {
        padding: 15px 30px;

        @media screen and (max-width: 991px) {
            padding: 15px 20px;
        }

        @media screen and (max-width: 575px) {
            padding: 15px 10px;
        }

        &:not(:first-child) {
            padding-left: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            @media screen and (max-width: 575px) {
                padding-left: 10px;
                max-width: 170px;
            }
        }
    }

    th,
    td {
        &.change {
            @media screen and (max-width: 1199px) {
                &.price_30d {
                    display: none;
                }
            }

            @media screen and (max-width: 991px) {
                &.price_7d {
                    display: none;
                }
            }

            @media screen and (max-width: 991px) {
                // &.price_30d {
                //     display: none;
                // }
            }
        }
    }

    tr.loading {
        color: $color-light;
    }

    th {
        font-weight: 300;
    }

    th,
    td {
        border-bottom-color: $color-light-heavy !important;

        &.col-name {
            @media screen and (min-width: 1200px) {
                width: 40%;
            }
        }
    }

    thead {
        color: $color-light;
        font-weight: 300;
        // font-size: 12px;
    }

    &-hover {
        tbody {
            tr {
                .btn-asset {
                    // opacity: 0;
                    transition: opacity 120ms ease;

                    @media screen and (max-width: 767px) {
                        // opacity: .4;
                    }
                }

                &:focus {
                    outline: 1px solid $primary-color;

                    .btn-asset {
                        opacity: 1;
                    }
                }

                &:hover {
                    .btn-asset {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .index {
        color: $color-light-soft;
        font-weight: normal;

        @media screen and (max-width: 575px) {
            font-size: 10px;
            display: none;
        }
    }

    .image {
        margin-right: 16px;
        width: 36px;
        height: 36px;
        object-fit: contain;

        @media screen and (max-width: 575px) {
            margin-right: 5px;
            width: 24px;
            height: 24px;
        }
    }

    .fa-euro-sign {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: $color-light-heavy;
        border-radius: 50%;
        margin-right: 16px;
        width: 36px;
        height: 36px;
        color: $primary-color;

        @media screen and (max-width: 575px) {
            margin-right: 5px;
            width: 24px;
            height: 24px;
            font-size: .6em;
            padding: 0;
            margin-right: 12px;
        }
    }

    .symbol {
        margin-left: 1em;
        color: $secondary-color;
        text-transform: uppercase;

        @media screen and (max-width: 991px) {
            display: none;
        }

        @media screen and (max-width: 575px) {
            display: inline-block;
            margin-left: .1em;
        }

        &.asset_amount {
            @media screen and (max-width: 991px) {
                font-size: .8em;
            }
        }
    }

    .asset-name {
        @media screen and (max-width: 575px) {
            display: none;
        }
    }
}

.conversion_to_usd {
    font-weight: bold;

    &+span {
        color: $color-light;
    }
}

.table-hover>tbody>tr:hover {
    --bs-table-accent-bg: rgb(0 0 0 / 2%);
    color: var(--bs-table-hover-color);
}