// Variables

/**
* Color
*/ 
$primary-color: #2d4f6c;
$secondary-color: #90a2b1;

$color-light-soft: rgba(17, 51, 83, 0.6);
$color-light: rgb(190, 202, 218);
$color-light-heavy: rgb(236, 239, 241);

/**
* Typography
*/
$font-logo: 'Anton', sans-serif;
$font-stack: 'Arial', sans-serif;